
#s373876, #s377748, #s373879, #s373878, #s373880, #s383502, #s383503, #s383568, #s383569, #s381525, #s384051, #s385120{
	@include page-color($jockeys);
}
#s383502{
	.inner-hero__text{
		display: none;
	}
}
#s384117, #s385189{
	@include page-color($employers);
	.main-content{
	    h1,h2,h3,h4{
	    	border-bottom-color: #050505;
	    }

	}
}


.inner-hero__wrap{
	height: 12em;
	overflow: hidden;
	position: relative;
	@include respond-to(480){
		height: 14em;
	}
	@include respond-to(650){
		height: 24em;
	}
}
.inner-hero__image{
	height: 100%;
	width: 100%;
	// &:after{
	// 	width: 100%;
	// 	height: 100%;
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	opacity: 0.95;
	// 	.d12491 &, .d12500 &, .d12508 &{
	// 		background-color: rgba($jockeys, 0.9);
	// 	}
	// }
	
	p{
		margin: 0;
	}
}

.inner-hero__text{
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 2;
	overflow: hidden;
	opacity: 0;
	left: 0;
	padding: 0.6em 1em;
	.d12491 &, .d12500 &, .d12508 &, &.green-bg{
		background-color: rgba($jockeys, 0.9);
	}

	@include respond-to(480){
		top: 60%;
		padding: 1em 2em;
		left: 5%;
	}
	h1{
		color: #fff;
		text-transform: uppercase;
		font-size: ms(3);
		margin: 0;
		line-height: 1.2;
		font-family: $cond-font-bold;
		//font-family: $main-font;
		//text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
	}
	@include respond-to(350){
		h1{
			font-size: ms(4);
		}
	}
	@include respond-to(1200){
		h1{
			font-size: ms(6);
		}
	}
}

.breadcrumb-wrap{
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
	@include respond-to(650){
		padding: 1em 0;
	}
	@include respond-to(650){
		padding: 1.5em 0;
	}
	a{
		color: #333;
		font-family: $main-font-bold;
		text-transform: uppercase;
		font-size: 14px;
		@include respond-to(650){
			font-size: ms(0);
		}
		&:hover{
			color: $base-color;
		}
	}
}
.siteBreadcrumbs{
	color: #888;
	text-align: center;
}
.content{
	width: 90%;
	margin: auto;
	max-width: 920px;
	@include clearfix;
}
.content-intro{
	padding: 2em 0em;
	@include respond-to(480){
		padding: 2em;
	}
	@include respond-to(650){
		padding: 4em;
	}
}

.intro-quote{
	font-size: ms(1);
	font-family: $main-font;
	text-align: center;
	@include respond-to(650){
		font-size: ms(3);
	}
}

.content__top-image {
	margin-bottom: 1em;
	@include respond-to(650){
		margin-bottom: 2em;
	}
}

.content-intro--side{
 	margin: 1.5em auto;
 	padding-bottom: 1.5em;
 	border-bottom: 1px solid #ddd;
 	@include respond-to(650){
		margin: 3em auto;
		padding-bottom: 0;
		border-bottom: none;
 	}
 	@include respond-to(880){
		margin: 4em auto;
		padding-bottom: 0;
		border-bottom: none;
 	}
}

.intro-quote--side{
    font-family: $main-font;
    font-size: ms(1);
    line-height: 1.5;
    text-align: center;
    @include respond-to(480){
		font-size: ms(2);
    }
    @include respond-to(650){
		float: right;
    	width: 55%;
    	text-align: left;
    }
	@include respond-to(880){
		font-size: ms(3);
	}
}

.side-image{
	margin-bottom: 1em;
	@include respond-to(650){
		float: left;
		width: 40%;
		padding-right: 1em;
		margin-bottom: 0;
	}
}

.side-image img{
	//border: 5px solid #fff;
	box-shadow: 1px 3px 6px 1px rgba(0,0,0,0.05);
}

.page-link-wrap{
	padding: 0 0 2em 0;
	max-width: 960px;
	width: 94%;
	@include respond-to(650){
		padding: 0 0 3em 0;
	}
}
.page-link{
	@include span(6 of 12 inside);
	cursor: pointer;
	&:nth-child(2){
		.page-link-inner{
			background-color: $base-color-dark;
		}
	}
	&:hover{
		//animation: scale 200ms;
		//transform: scale(1.03);
	}
}
.page-link-inner{
	padding: 0.75em 3em 0.75em 1em;
	background-color: $base-color;
	position: relative;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	@include respond-to(650){
		padding: 1em 6em 1em 2em;
	}
	&:hover{
		box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
	}
	h4,h5,h6,p,a{
		color: #fff;
	}
	p{
		display: none;
		margin-bottom: 0;
		@include respond-to(650){
    		display: block;
    	}
	}
	h4{
		font-size: ms(1);
		margin-bottom: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		@include respond-to(650){
    		font-size: ms(3);
    		font-size: ms(1);
    		margin-bottom: 0.5em;
    		top: auto;
    		transform: translateY(0);
    	}
	}
	
}

@keyframes spin{
	100%{
		transform: rotate(360deg);
	}
}

@keyframes scale{
	100%{
		transform: scale(1.1);
	}
}

@keyframes slide-off-on{
	50%{
		transform: translateX(100%);
		opacity: 1;
	}
	51%{
		opacity: 0;
		transform: translateX(-100%);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

.link-arrow{
	height: 2em;
	width: 2em;
	padding: 0.25em;
	display: block;
	position: absolute;
	right: 0.5em;
	top: 50%;
	transform: translateY(-50%);
	fill: #fff;

	//@include link-line;
	@include respond-to(650){
		height: 3em;
		width: 3em;
		padding: 0.5em;
		right: 1em;
	}
	svg{
		transform-origin: 50% 50%;
		transition: all 100ms ease-in-out;
		opacity: 0.75;
		transform: translate3d(0,0,0);
		&:hover{
			transform: scale(1.05);	
			opacity: 1;
		}
	}
}
.main-content{
	padding-bottom: 1em;
	@include respond-to(880){
		padding-bottom: 3em;
	}
	h3{
		padding-top: 0.5em;
		border-bottom: 1px solid #999;
    	padding-bottom: 0.25em;
    	margin-bottom: 0.5em;
    	text-transform: uppercase;
    	font-family: $cond-font-bold;
    	@include respond-to(650){
    		padding-top: 0.75em;
    	}
	}
	h4{
		padding-top: 0.75em;
		border-bottom: 1px solid #999;
		padding-bottom: 0.25em;
		margin-bottom: 0.5em;
		text-transform: uppercase;
		font-family: $cond-font-bold;
	}
	ul{
		margin: 1em 1.5em;
	}
	li{
		padding-bottom: 0.5em;
	}
}

.social-wrapper{
	width: 100%;
	background: #707070;
	padding: 1em 0;
	@include respond-to(650){
		padding: 1.5em 0;
	}
	@include respond-to(880){
		padding: 2.5em 0;
	}
}

.on-course__wrapper{
	ul{
		margin: 1em 0em;
		@include respond-to(480){
			 margin: 1em 1.5em;
		}
	}
	li{
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin: 0;
		padding: 0.5em;
		@include clearfix;
		>div{
			display: inline-block;
		}
		&:last-child{
			border-bottom: none;
		}

	}
	.date{
		width: 4em;
		font-family: $main-font-bold;
	}
}

ul.training-list{
	margin: 1em 0;
	@include respond-to(650){
		margin: 1em 0em;
	}
	li{
		padding: 0.5em 0.5em;
		border: 1px solid #ccc;
		border-top: none;
		@include clearfix;
		@include respond-to(650){
			padding: 0.5em 1em;
		}
		&:nth-child(odd){
			background-color: #f3f3f3;
		}
		&:first-child{
			border-top: 1px solid #ccc;
		}

	}
	a{
		text-align: right;
		width: 6.5em;
		float: right;
		font-family: $main-font-bold;
	}
	strong{
		font-family: $main-font;
		float: left;
		width: calc(100% - 6.5em);
	}
}

.forthcoming-courses{
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
	@include table-stripe;
	td,th{
		padding: 0.5em;
		border: 1px solid #ddd;
	}
	th{
		background-color: $jockeys;
		color: #fff;
		font-family: $main-font-bold;
		border-color: darken($jockeys, 10%);
	}
}


.jockey-stories{
	margin-bottom: 3em;
	&:last-child{
		margin-bottom: 0;
	}
	h3{
		margin-bottom: 2em;
		font-size: ms(2);
		@include respond-to(480){
			font-size: ms(3);
		}
	}
	.jockey{
		@include clearfix;
		width: 100%;
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 1em;
		// a{
		// 	padding: 0.5em 1em;
		// 	background-color
		// }
	}
	.jockey-thumb{
		float: left;
		width: 5em;
		img{
			//max-width: 9em;
			//max-height: 10em;
			width: 100%;
			height: auto;
		}
		@include respond-to(480){
			width: 9em
		}
	}
	.jockey-info{
		float: left;
		width: calc( 100% - 5em);
		padding-left: 2em;
		@include respond-to(480){
			width: calc( 100% - 9em);
		}
	}
	.jockey-name{
		font-family: $cond-font-bold;
		font-size: ms(2);
	}
	.jockey-job{
		font-family: $main-font;
		font-size: ms(1);
		color: #666;
		margin-bottom: 1em;
	}
}

.individual-story{

}
.indivdual-story__image{
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	img{
		max-height: 30em;
	}
}
.indivdual-story__title{
	//border-bottom: 1px solid #ccc;
	display: block;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}
.indivdual-story__name, .indivdual-story__job{
	display: inline;
	font-size: ms(3);
}
.indivdual-story__name{
	font-family: $main-font-bold;
}
.indivdual-story__detail{
	h4{
		font-size: ms(2);
	}
}
.training-jockey{
	@include clearfix;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ccc;
}
.training-name, .training-course{
	@include respond-to(768){
		display: inline-block;
	}
}
.training-name{
	font-family: $main-font-bold;
	@include respond-to(768){
		width: 12em;
	}
}
.training-course{
	font-family: $main-font;
}

.career-support{ } 
.career-support{
	&__item{ 
		@include clearfix;
		border-bottom: 1px solid #ccc; 
		padding-bottom: 1em; 
		margin-bottom: 1em; 
	}
	&__image{
		margin-bottom: 1em;
		background-color: red; 
		@include respond-to(480){
			width: 12em; 
			float: left; 
			height: 9em; 
			margin-bottom: 0;
		}
	}
	&__info{
		@include respond-to(480){
			width: calc(100% - 12em); 
			float: right; 
			padding-left: 2em;
		}
		h4{
			border-bottom: none; 
			padding-top: 0;
			line-height: 1.2;
			margin-bottom: 0.25em;

		}
	}
} 
 

.magic-accordion{
	margin-top: 2em;
	.head{
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
		width: 100%;
		padding: 1em;
		background-color: #f1f1f1;
		font-size: ms(0);
		color: #333!important;
		border: 1px solid #ccc!important;
		line-height: 1.4;
		@include respond-to(480){
			padding: 1em 2em;
			font-size: ms(1);
		}
		&.active{
			color: #fff!important;
			background-color: $jockeys;
			border: 1px solid $base-color-dark!important;
		}
	}
	.body{
		background-color: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
		padding: 2em;
		margin-bottom: 1em;
		margin-top: -0.65em;
	}
}


.friends-logos__wrap{
	@include clearfix;
}
.friends-logos__item{
	@include span(6 of 12 inside);
	height: 7em;
	position: relative;
	padding: 1em;
	img{
		max-height: 7em;
		@include vert-rel;
	}
	@include respond-to(480){
		@include span(4 of 12 inside);
		height: 7em;
		img{
			max-height: 7em;
		}
	}
	
	@include respond-to(650){
		@include span(3 of 12 inside);
		height: 8em;
		img{
			max-height: 8em;
		}
	}
	@include respond-to(880){
		height: 9em;
		padding: 1.5em
		img{
			max-height: 9em;
		}
	}

}