input, textarea, select{
	padding: 0.8em;
	background-color: #fff;
	border: 1px solid #ccc;
	height: 100%;
	font-family: $main-font;
	font-size: ms(0);
	background-image: none;
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    width: 100%;
    outline: none;
    &:focus{
    	border: 1px solid #666;
    }
}

textarea{
	min-height: 8em;
}

select{
	-webkit-appearance: select;
}

.form_submit{
	input{
		background-color: $base-color;
		color: #fff;
		text-transform: uppercase;
		font-family: $cond-font-bold;
		text-align: center;
		border: none;
		cursor: pointer;
		width: 100%;
		line-height: 1;
		border-radius: 0;
		&:hover{
			background-color: $base-color-dark;
		}
		&[type="submit"]{
			border-radius: 0;
		}
	}
}
button{
	border-radius: 0;
}
.inputset{
	position: relative;
}
.form_error_wrap{
	display: none;
}
.form_error_specific{
	background-color: firebrick;
    color: white;
    font-size: 14px;
    left: 0;
    padding: 0.2em 0.3em;
    position: absolute;
    top: -2em;
    
}


.contact-form, .signup-form{
	h3{
		margin-top: 0;
		padding-top: 0;
	}
	label{ 
		display: none;
	}
	input,textarea,select{
		border-radius: 3px;
		padding: 0.95em;
		margin: 0.5em 0;
	}
	input[type="submit"]{
		padding: 1.25em;
		font-size: ms(1);
		border-radius: 3px;
	}
}


section.form{
	max-width: 39em;
	h2{
		font-family: $main-font-bold;
		text-transform: uppercase;
		text-align: center;
		border-bottom: none;
		margin-top: 0;
	}
	.form_error_specific{
		top: 0.5em;
		right: 0;
		left: auto;
	}
}


.signup-form{
	max-width: 39em;
	margin: auto;
	margin-top: 3em;
	.inputset{
		margin-top: 1em;
	}
	.form_error_specific{
		top: -3px;
		right: 0;
		left: auto;
    }
    label{
    	display: block;
    }
	h2{
		font-family: $main-font-bold;
		text-transform: uppercase;
		text-align: center;
		border-bottom: 1px solid currentColor;
		margin-top: 0;
	}
}